.Sol {
     width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: yellow;
position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
animation: girarSol 2s infinite linear;
}



.orbitaMercurio{
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;
}
.mercurio{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#090979;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarMercurio 5s infinite linear;
 z-index: 1;
}
.orbitaVenus{
       width: 200px;
     height: 200px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.venus{
     width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ff9500;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarVenus 13.67s infinite linear;
}

.orbitaLuna{
       width: 50px;
     height: 50px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
     /* border: 1px solid red; */
               

top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarTierra 16.07s infinite linear;

}

.orbitaTierra{
       width: 300px;
     height: 300px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;


}

.tierra{
         width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: purple;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.luna{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: greenyellow;
     position: absolute;
top:0;
left:10;
right:10;
bottom:10;
margin: auto;

animation: girarLuna 5s infinite linear;
}

.orbitaMarte{
       width: 400px;
     height: 400px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.marte{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #ee1e1e;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarMarte 19.84s infinite linear;
}

.fobos{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgb(14, 30, 248);
     position: absolute;
top:0;
left:10;
right:10;
bottom:10;
margin: auto;

animation: girarFobos 10s infinite linear;
}

.deimos{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgb(245, 125, 161);
     position: absolute;
top:0;
left:15;
right:15;
bottom:15;
margin: auto;

animation: girarDeimos 5s infinite linear;
}

.orbitaJupiter{
       width: 500px;
     height: 500px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.jupiter{
         width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #eebd1e;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarJupiter 36.66s infinite linear;
}



.io{
         width: 4px;
     height: 4px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e9d594;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarIo 4s infinite linear;
}

.europa{
         width: 4px;
     height: 4px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #a32349;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarEuropa 6s infinite linear;
}
 
.ganimedes{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #48e01a;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarGanimedes 8s infinite linear;
            
}

.calisto{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #cdf128;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarCalisto 6s infinite linear;
            
}

.orbitaSaturno{
       width: 600px;
     height: 600px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.saturno{
         width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e9d594;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarSaturno 49.67s infinite linear;
}

.titan{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fca420;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarTitan 5s infinite linear;
            
}

.japeto{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fdec00;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarJapeto 7s infinite linear;
            
}

.febe{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e2dfb5;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarFebe 2s infinite linear;
            
}
.rea{
         width: 7px;
     height: 7px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e4502b;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarRea 4s infinite linear;
            
}
.orbitaUrano{
       width: 700px;
     height: 700px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.urano{
         width: 20px;
     height: 20px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #7d01e2;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation:  girarUrano 70.32s infinite linear;
}

.titania{
         width: 5px;
     height: 5px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #8f8380;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarTitania 5s infinite linear;
            
}
.oberon{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #d68c7a;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarOberon 7s infinite linear;
            
}
.umbriel{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #861e03;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarUmbriel 10s infinite linear;
            
}

.ariel{
         width: 8px;
     height: 8px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #1a7c46;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarAriel 15s infinite linear;
            
}
.miranda{
         width: 12px;
     height: 12px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #7bf8b3;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarMiranda 18s infinite linear;
            
}

.orbitaNeptuno{
       width: 800px;
     height: 800px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:none;
     position: absolute;
          border: 1px solid white;     

top:0;
left:0;
right:0;
bottom:0;
margin: auto;

}

.neptuno{
         width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #7a9bb9;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarNeptuno  88.19s infinite linear;
}
.triton{
         width: 15px;
     height: 15px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #8474a0;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarTriton 10s infinite linear;
            
}

.proteo{
         width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #d4c6ec;
     position: absolute;
top:0;
left:0;
right:0;
bottom:0;
margin: auto;
 animation: girarProteo 5s infinite linear;
            
}

@keyframes girarSol {
    from { transform: rotate(0deg)  translate(5px) rotate(0deg); }
    to { transform: rotate(360deg) translate(5px) rotate(-360deg); }
}

@keyframes girarMercurio {
    from { transform: rotate(0deg)  translate(-50px) rotate(360deg); }
    to { transform: rotate(360deg) translate(-50px) rotate(-360deg); }
}
@keyframes girarVenus {
    from { transform: rotate(0deg)  translate(-100px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-100px) rotate(-360deg); }
}
@keyframes girarMarte {
    from { transform: rotate(0deg)  translate(-200px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-200px) rotate(-360deg); }
}
@keyframes girarTierra {
    from { transform: rotate(0deg)  translate(-150px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-150px) rotate(-360deg); }
}
@keyframes girarLuna {
    from { transform: rotate(0deg)  translate(20px) rotate(360deg); }
    to { transform: rotate(360deg) translate(20px) rotate(-360deg); }
}

@keyframes girarFobos {
    from { transform: rotate(0deg)  translate(15px) rotate(360deg); }
    to { transform: rotate(360deg) translate(15px) rotate(-360deg); }
}

@keyframes girarDeimos {
    from { transform: rotate(0deg)  translate(30px) rotate(360deg); }
    to { transform: rotate(360deg) translate(30px) rotate(-360deg); }
}

@keyframes girarJupiter {
    from { transform: rotate(0deg)  translate(-250px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-250px) rotate(-360deg); }
}
@keyframes girarIo{
    from { transform: rotate(0deg)  translate(20px) rotate(0deg); }
    to { transform: rotate(360deg) translate(20px) rotate(-360deg); }
}
@keyframes girarSaturno {
    from { transform: rotate(0deg)  translate(-300px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-300px) rotate(-360deg); }
}
@keyframes girarEuropa {
    from { transform: rotate(0deg)  translate(25px) rotate(0deg); }
    to { transform: rotate(360deg) translate(25px) rotate(-360deg); }
}
@keyframes girarGanimedes {
    from { transform: rotate(0deg)  translate(35px) rotate(0deg); }
    to { transform: rotate(360deg) translate(35px) rotate(-360deg); }
}
@keyframes girarCalisto {
    from { transform: rotate(0deg)  translate(40px) rotate(0deg); }
    to { transform: rotate(360deg) translate(40px) rotate(-360deg); }
}
@keyframes girarTitan {
    from { transform: rotate(0deg)  translate(20px) rotate(0deg); }
    to { transform: rotate(360deg) translate(20px) rotate(-360deg); }
}

@keyframes girarJapeto {
    from { transform: rotate(0deg)  translate(30px) rotate(0deg); }
    to { transform: rotate(360deg) translate(30px) rotate(-360deg); }
}

@keyframes girarFebe {
    from { transform: rotate(0deg)  translate(15px) rotate(0deg); }
    to { transform: rotate(360deg) translate(15px) rotate(-360deg); }
}

@keyframes girarRea {
    from { transform: rotate(0deg)  translate(25px) rotate(0deg); }
    to { transform: rotate(360deg) translate(25px) rotate(-360deg); }
}
@keyframes girarTitania {
    from { transform: rotate(0deg)  translate(15px) rotate(0deg); }
    to { transform: rotate(360deg) translate(15px) rotate(-360deg); }
}
@keyframes girarOberon {
    from { transform: rotate(0deg)  translate(25px) rotate(0deg); }
    to { transform: rotate(360deg) translate(25px) rotate(-360deg); }
}
@keyframes girarUmbriel {
    from { transform: rotate(0deg)  translate(35px) rotate(0deg); }
    to { transform: rotate(360deg) translate(35px) rotate(-360deg); }
}
@keyframes girarAriel {
    from { transform: rotate(0deg)  translate(45px) rotate(0deg); }
    to { transform: rotate(360deg) translate(30px) rotate(-360deg); }
}
@keyframes girarMiranda {
    from { transform: rotate(0deg)  translate(55px) rotate(0deg); }
    to { transform: rotate(360deg) translate(65px) rotate(-360deg); }
}
@keyframes girarUrano {
    from { transform: rotate(0deg)  translate(-350px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-350px) rotate(-360deg); }
}
@keyframes girarNeptuno {
    from { transform: rotate(0deg)  translate(-400px) rotate(0deg); }
    to { transform: rotate(360deg) translate(-400px) rotate(-360deg); }
}
@keyframes girarTriton {
    from { transform: rotate(0deg)  translate(30px) rotate(0deg); }
    to { transform: rotate(360deg) translate(30px) rotate(-360deg); }
}
@keyframes girarProteo {
    from { transform: rotate(0deg)  translate(20px) rotate(0deg); }
    to { transform: rotate(360deg) translate(20px) rotate(-360deg); }
}

body{
background-color: lightblue;
}